# Foundry Artifacts & Compiler Tracking
out/
cache/

# Ignore ALL Deployment Broadcast Logs (Anvil, Sepolia, Mainnet)
broadcast/

# Ignore Local Chain State Snapshot
artifacts/

# System Dependencies & Packages
node_modules/
package-lock.json

# Environment Variables & Private Credentials (CRITICAL)
.env
.env.*